{% extends 'template/base.html.twig' %}
{% block navItems %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <h1 class="text-center">Grocerylists</h1>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('grocerylist_new') }}">
                        <span class="fa fa-plus" aria-hidden="true"> Add Grocerylist</span>
                    </a>
                </div>
            </div>
            <div class="row">
            {% for grocerylist in grocerylists %}
                <div class="col-md-6" style="margin-bottom: 20px">
                    <ul class="list-group">
                        <li class="list-group-item text-center">
                            {{ grocerylist.name }} 
                            <a class="pull-right" href="{{ path('grocerylist_edit', { 'id': grocerylist.id }) }}"> edit </a>
                        </li>
                        <li class="list-group-item text-center">
                            <button class="btn btn-default" id="addGrocerylistItemBtn" data-toggle="modal" data-target="#add_grocery_modal">
                                <span class="fa fa-plus"></span>
                            </button>
                            <div class="row grocerylistItemsRow" id="{{grocerylist.id}}" style="display: none; margin-top:10px">
                                <div class="col-md-7 mx-auto">
                                    {{form(add_grocerylistItem_form, {grocerylistId: grocerylist.id})}}
                                </div>
                            </div>
                        </li>
                        {% for item in grocerylist.grocerylistItems %}
                        <li class="list-group-item text-center">
                             {{ item.foodId.name}}                      <a href="" data-toggle="modal" data-target="#add_edit_meal_modal">
                            <span title="Delete from grocerylist" class="fa fa-remove pull-right" aria-hidden="true"></span>
                            <span title="Delete from grocerylist and add to kitchen" class="fa fa-check pull-right" aria-hidden="true"></span>
                            </a>
                            <a href="" data-toggle="modal" data-target="#add_edit_meal_modal">
                                <span title="Delete from grocerylist" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- Add to grocerylist Modal Panel -->
        <div class="modal fade" id="delete_grocerylist_modal" tabindex="-1" role="dialog" aria-labelledby="delete_grocerylist_modal
        _label">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="add_edit_modal_label">Add to Grocerylist</h4>
                    </div>
                    <div class="modal-body">
                        <select class="selectpicker" data-width="100%" data-live-search="true" id="food_selectpicker" multiple>
                                <option>Eier</option>
                                <option>Milch</option>
                                <option data-divider="true"></option>
                            </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="add_btn" class="btn btn-pink center-block">Add</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
