{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container" style="padding-bottom: 50px">
            {% include ('flash-messages.html.twig') %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Grocerylists
                        <a href="#" data-toggle="modal" data-target="#AddGrocerylistModal">
                        <span title="Add" class="fa fa-plus pull-right" aria-hidden="true"></span>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="row">
            {% for grocerylist in grocerylists %}
                <div class="col-md-3" style="margin-bottom: 20px">
                    <ul class="list-group grocerylist">
                        <li class="list-group-item text-center">
                            {{ grocerylist.name }}
                            <a class="delete-grocerylist-button" data-item-id="{{grocerylist.id}}" href="#">
                                <span title="Delete grocerylist" class="fa fa-remove pull-right" aria-hidden="true"></span>
                            </a>
                            <form class="delete-form" action="{{ path('grocerylist_delete', {'id': grocerylist.id }) }}" method="POST"> 
                            </form>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form(forms[grocerylist.id], {'attr': {'class': 'add-item-form'}}) }} 
                                    <!-- <form class="add-item-form" method="POST"> 
                                         <input name="item" type="text" placeholder="Add Item">
                                    </form> -->
                                </div>
                            </div>
                        </li>{# href="{{ path('grocerylistItem_move', {'id': item.id })}}"#}
                        {% for item in grocerylist.grocerylistItems %}
                        <li class="list-group-item text-center">
                            <a href="#" data-toggle="modal" data-target="#MoveItemModal" class="moveItemBtn"  data-item-id="{{item.id}}" data-item-name="{{item.name}}">
                                <span title="Add to Kitchen" class="fa fa-arrow-left pull-left" aria-hidden="true"></span>
                            </a>
                            {{ item.name}}
                            <a href="#" class="delete-grocerylist-item-button">
                                <span title="Delete from grocerylist" class="fa fa-remove pull-right" aria-hidden="true"></span>
                            </a>
                            <form class="delete-form" action="{{ path('grocerylistItem_delete', {'id': item.id }) }}" method="POST"> 
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <div class="modal fade" id="MoveItemModal" tabindex="-1" role="dialog" aria-labelledby="MoveItemModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Item to Kitchen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(moveItemForm) }}
                            <input type="number" class="form-control d-none" name="itemId" id="itemId">
                            {{ form_widget(moveItemForm) }}
                            {{ form_end(moveItemForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddGrocerylistModal" tabindex="-1" role="dialog" aria-labelledby="AddGrocerylistModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Grocerylist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('js/grocerylist.js') }}"></script>
{% endblock %}
