{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <h1 class="text-center">Kitchen</h1>
                </div>
                <div class="col-md-2">
                    <a href="{{ path('kitchenList_new') }}">
                        <span class="fa fa-plus" aria-hidden="true"> Add KitchenList</span>
                    </a>
                </div>
            </div>
            <div class="row">
            {% for kitchenList in kitchenLists %}
                <div class="col-md-4" style="margin-bottom: 20px">
                    <ul class="list-group">
                        <li class="list-group-item text-center">
                            {{ kitchenList.name }} 
                            <a class="pull-right" href="{{ path('kitchenList_edit', { 'id': kitchenList.id }) }}"> edit </a>
                        </li>
                        <li class="list-group-item text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form(forms[kitchenList.id]) }}

                                </div>
                            </div>
                        </li>
                        {% for item in kitchenList.kitchenListItems %}
                        <li class="list-group-item text-center">
                             {{ item.foodId.name}}                      <a href="" data-toggle="modal" data-target="#add_edit_meal_modal">
                            <span title="Delete from grocerylist" class="fa fa-remove pull-right" aria-hidden="true"></span>
                            <span title="Delete from grocerylist and add to kitchen" class="fa fa-check pull-right" aria-hidden="true"></span>
                            </a>
                            <a href="" data-toggle="modal" data-target="#add_edit_meal_modal">
                                <span title="Delete from grocerylist" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
