{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            {% include ('flash-messages.html.twig') %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Recipes
                        <a href="{{ path('recipe_new') }}">
                        <span title="Add" class="fa fa-plus pull-right" aria-hidden="true"></span>
                        </a>
                    </h1>
                </div>
            </div>
            <div id="recipes-gallery">
                <div class="row" style="margin-bottom: 10px; border-bottom: 1px solid #9D759D">
                    <!-- hidden sort control -->
                    <div
                    style="display: none"
                    data-jplist-control="hidden-sort"
                    data-group="group1"
                    data-path=".name"
                    data-order="asc"
                    data-type="text">
                    </div>
                    <!-- text filter control -->
                    <div class="col-md-3">
                        <input
                        data-jplist-control="textbox-filter"
                        data-group="group1"
                        data-name="my-filter-1"
                        data-path=".name"
                        type="text"
                        value=""
                        placeholder="Filter by Name" />
                    </div>
                    <div class="col-md-3">
                        <input
                                data-jplist-control="textbox-filter"
                                data-group="group1"
                                data-name="ingredient-filter"
                                data-path=".ingredients"
                                type="text"
                                value=""
                                placeholder="Filter by Ingredient" />
                    </div>
                    <div class="buttons col-md-6" style="margin-bottom: 10px">
                        <!-- button text filter control -->
                        <button
                            data-jplist-control="buttons-text-filter"
                            data-path="default"
                            data-group="group1"
                            name="name1"
                            data-mode="radio"
                            data-selected="true"
                            class="btn"
                            style="background-color: white; border-radius: 20px; border: 1px solid black; font-size: 0.7rem; line-height: 1.0; padding: 0.3rem 0.5rem">
                        Show All
                        </button>

                        {% for tag in tags %}
                        <button
                                data-jplist-control="buttons-text-filter"
                                data-path=".tags"
                                data-group="group1"
                                name="name1"
                                data-mode="radio"
                                data-text="{{ tag.name }}"
                                class="btn btn-tag"
                                style="background-color:{{ tag.color }};"
                                type="button">
                            {{ tag.name }}
                        </button>
                        {% endfor %}
                        <a href="{{ path('tag_new') }}">
                            <span title="Add" class="fa fa-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

                <!-- content to filter -->
            <div data-jplist-group="group1" class="row thumbnail-gallery">
                {% for recipe in recipes %}
                    <div data-jplist-item class="item col-lg-3 col-sm-3 col-md-3">
                        {% if recipe.image %}
                            <img src="{{ asset('uploads/images/' ~ recipe.image) }}" class="img-thumbnail">
                            {% else %}
                                <img src="{{ asset('placeholder.jpeg') }}" class="img-thumbnail">
                        {% endif %}
                        <a href="{{ path('recipe_show', { 'id': recipe.id }) }}" title="{{ recipe.name }}">
                            <div class="thumbnail-hoverbox">
                                <h5 class="name" style="margin-bottom: 10px">{{ recipe.name }}</h5>
                                <p class="tags" style="font-size:13px">Tags:
                                    {% for recipeTag in recipe.tags %}
                                        {% for tag in tags %}
                                            {% if recipeTag == tag.id %}
                                                <span class="{{tag.name}}">{{tag.name}} </span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </p>
                                <p class="ingredients d-none">
                                    {% for item in recipe.recipeItems %}
                                        <span>{{item.name}} </span>
                                    {% endfor %}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                <!-- no results control -->
                <div data-jplist-control="no-results" data-group="group1" data-name="no-results">No Results Found</div>

            </div>
                <!-- pagination control -->
                <div
                        data-jplist-control="pagination"
                        data-group="group1"
                        data-items-per-page="16"
                        data-current-page="0"
                        data-name="pagination1"
                        class="jplist-pagination">

                    <button type="button" data-type="first">«</button>
                    <button type="button" data-type="prev">‹</button>

                    <div class="jplist-holder" data-type="pages">
                        <button type="button" data-type="page">{pageNumber}</button>
                    </div>

                    <button type="button" data-type="next">›</button>
                    <button type="button" data-type="last">»</button>
                </div>
            </div>


    </section>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <!-- IE 10+ / Edge support via babel-polyfill: https://babeljs.io/docs/en/babel-polyfill/ -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>

    <!-- jPList Library -->
    <script src="{{ asset('jplist/jplist.min.js') }}"></script>

        <script src="{{ asset('js/recipes.js') }}"></script>
{% endblock %}
