{% extends 'base.html.twig' %}
{% block body %}

    <section class="content-section">
        <div class="container">
            <h1 class="text-center">Add Recipe</h1>
            <div class="row">
                <div class="col-md-6" style="margin: 0 auto">
                    {{ form_start(new_recipe_form) }}
                    {{ form_row(new_recipe_form.name) }}
                    {{ form_row(new_recipe_form.description) }}
                    <select class="selectpicker col-md-12" multiple name="tags-select" id="tags-select">
                        {% for tag in tags %}
                            <option data-id="{{tag.id}}">{{tag.name}}</option>
                        {% endfor %}
                    </select>
                    {{ form_row(new_recipe_form.tags) }}
                    <p>You can create Tags here: <a href="{{ path('tag_new') }}">Tags</a><p>
                    {{ form_row(new_recipe_form.image) }}
                    {{ form_row(new_recipe_form.Submit) }}
                    {{ form_end(new_recipe_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('js/new-recipe.js') }}"></script>
{% endblock %}
