{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-10 col-12 m-auto">
                    <img src="{{ asset('uploads/images/' ~ recipe.image) }}" class="img-thumbnail img-recipe">
                    <div class="caption-recipe text-center">
                        <p>Tags: 
                        {% for tag in tags %}
                            <a href="" class="btn btn-tag" style="background-color:{{ tag.color }}" role="button">{{tag.name}}</a>
                        {% endfor %}
                        </p>
                    </div>
                    <div class="thumbnail-box text-center">
                        <h1 class="title">{{ recipe.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 text-center" style="border-right: 1px solid #ddd">
                    <h3>Description</h3>
                    <p class="text-justify">{{recipe.description}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Ingredients</h3>
                    <ul class="list-group">
                        <li class="list-group-item text-center">
                            <a id="addRecipeItemBtn">
                                <span class="fa fa-edit" aria-hidden="true">Add RecipeItem</span>
                            </a>
                        </li>
                        {% for item in recipeItems %}
                        <li class="list-group-item">
                            {{item.value}} {{item.unit}} {{item.foodId.name}} 
                            <a href="{{ path('recipeItem_delete', {'id': item.id }) }}">
                                <span title="Delete Item" class="fa fa-remove pull-right" aria-hidden="true"></span>
                            </a>
                        </li>
                        {% endfor %}
                     </ul>
                    <div class="row recipeItemsRow" style="display: none; margin-top:10px">
                        <div class="col-md-12 mx-auto">
                            {% form_theme form
                            'jquery.collection.html.twig'
                            'formtheme.html.twig'
                            %}
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-default btn-sm" href="{{ path('recipe_edit', { 'id': recipe.id }) }}" role="button">Edit</a>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </section>
{% endblock %}