{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-10 col-12 m-auto">
                    {% if recipe.image %}
                        <img src="{{ asset('uploads/images/' ~ recipe.image) }}" class="img-thumbnail img-recipe">
                    {% else %}
                        <img src="{{ asset('placeholder.jpeg') }}" class="img-thumbnail img-recipe">
                    {% endif %}

                    <div class="thumbnail-box text-center">
                        {% for recipeTag in recipe.tags %}
                            {% for tag in tags %}
                                {% if recipeTag == tag.id %}
                                    <button class="btn btn-tag pull-left" style="background-color:{{ tag.color }}; margin-right: 5px">{{tag.name}}</button>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                        {{ form_start(delete_form) }}
                        <input class="pull-right" type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                        <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">
                            <span title="Edit Recipe" class="fa fa-edit fa-2x pull-right" style="margin-right: 10px" aria-hidden="true"></span>
                        </a><br>
                        <h1 class="title pull-left" style="margin-top:10px">{{ recipe.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-7 text-center" style="border-right: 1px solid #ddd">
                    <h3>Description</h3>
                    <p class="text-justify">{{recipe.description | raw}}</p>
                </div>
                <div class="col-lg-4 col-md-5 text-center">
                    <h3>Ingredients</h3>
                    <ul class="nav nav-pills serving-nav">
                        <p style="margin-top: 5px; margin-right: 5px">Servings:</p>
                        <li class="nav-item">
                            <a class="nav-link active" data-value="1" href="#">1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-value="2" href="#">2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-value="4" href="#">4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-value="6" href="#">6</a>
                        </li>
                    </ul>
                    <ul class="list-group">
                        {% for item in recipeItems %}
                        <li class="list-group-item">
                            <a href="#" data-toggle="modal" data-target="#MoveItemModal" class="moveItemBtn"  data-item-id="{{item.id}}" data-item-name="{{item.name}}">
                                <span title="Add to Grocerylist" class="fa fa-arrow-left pull-left" aria-hidden="true"></span>
                            </a>
                            <span class="item-value" data-value="{{item.value}}" >{{item.value}}</span> {% if item.unit != "Stück" %}{{item.unit}} {% endif %} {{item.name}} 
                            <a href="#" class="delete-recipe-item-button">
                                <span title="Delete Item" class="fa fa-remove pull-right" aria-hidden="true"></span>
                            </a>
                            <form class="delete-form" action="{{ path('recipeItem_delete', {'id': item.id }) }}" method="POST"> 
                            </form>
                        </li>
                        {% endfor %}
                     </ul>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12 mx-auto">
                            {% form_theme form
                            'jquery.collection.html.twig'
                            'formtheme.html.twig'
                            %}
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="MoveItemModal" tabindex="-1" role="dialog" aria-labelledby="MoveItemModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Item to Grocerylist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(moveItemForm) }}
                            <input type="number" class="form-control d-none" name="itemId" id="itemId">
                            {{ form_widget(moveItemForm) }}
                            {{ form_end(moveItemForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('js/recipes.js') }}"></script>
{% endblock %}
