{% extends 'base.html.twig' %}
{% block body %}
    <section class="content-section">
        <div class="container">
             <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">{{recipe.name}}</h1>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-4 m-auto">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">
                        <span class="fa fa-edit" aria-hidden="true">Edit Recipe</span>
                    </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-12" style="margin:auto">
                    <a href="#" title="{{recipe.name}}"><img src="{{ asset('uploads/images/' ~ recipe.image) }}" class="img-thumbnail img-recipe"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 text-center" style="margin:auto; margin-top: 10px">
                    <p>Tags: 
                    {% for tag in tags %}
                        <a href="" class="btn btn-tag" style="background-color:{{ tag.color }}" role="button">{{tag.name}}</a>
                    {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h3>Description</h3>
                    <p>{{recipe.description}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <h3>Ingredients</h3>
                    <div class="card">
                        <div class="card-header">
                            <a id="addRecipeItemBtn">
                                <span class="fa fa-edit" aria-hidden="true">Add RecipeItem</span>
                            </a>
                        </div>
                    </div>
                    <div class="row recipeItemsRow" style="display: none; margin-top:10px">
                        <div class="col-md-12 mx-auto">
                            {% form_theme form
                            'jquery.collection.html.twig'
                            'formtheme.html.twig'
                            %}
                            {{ form(form) }}
                        </div>
                    </div>
                    <ul class="list-group">
                        {% for item in recipeItems %}
                        <li class="list-group-item">
                            {{item.value}} {{item.unit}} {{item.foodId.name}} 
                            <a href="{{ path('recipeItem_delete', {'id': item.id }) }}">
                                <span title="Delete Item" class="fa fa-remove pull-right" aria-hidden="true"></span>
                            </a></li>
                        
                    {% endfor %}
                    </ul>
                
                </div>
                {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
            </div>
        </div>
    </section>
{% endblock %}