<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>mealplanner</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bxslider/jquery.bxslider.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap-select/dist/css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}">
        <link rel="stylesheet" href="{{ asset('jplist/jplist.core.min.css') }}">
        <link rel="stylesheet" href="{{ asset('jplist/jplist.textbox-filter.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css') }}">
        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Italiana">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cabin:700'>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> 
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">mealplanner</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu   <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                        {% if app.user %}
                        <ul id="mainNavbar" class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('mealplan') }}">Mealplan</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropbtn" href="{{ path('kitchen') }}">Kitchen</a>
                                <div class="dropdown-content">
                                <a href="{{ path('kitchenList_new') }}">Add KitchenList</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropbtn" href="{{ path('recipe_index') }}">Recipes</a>
                                <div class="dropdown-content">
                                <a href="{{ path('recipe_new') }}">Add Recipe</a>
                                <a href="{{ path('tag_new') }}">Tags</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropbtn" href="{{ path('grocerylist') }}">Grocerylists</a>
                                <div class="dropdown-content">
                                <a href="{{ path('grocerylist_new') }}">Add Grocerlist</a>
                              </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile_index') }}">Signed in as {{app.user.getUsername()}}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ logout_path('main')}}" class="btn btn-default">Logout</a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="navbar-nav ml-auto">
                        <li class="nav-item" style="margin-right:5px">
                            <button type="submit" id="register_btn" class="btn btn-default" data-toggle="modal" data-target="#registerModal">Create account</button>
                        </li>
                        <li class="nav-item">
                            <button type="submit" id="login_btn" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Login</button>
                        </li>
                    </ul>
                        {% endif %}

                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block footer %}
        <footer>
            <div class="container text-center">
                <p>Copyright &copy; mealplanner 2017 by sherlockspok</p>
                <a id="twitter-btn" href="https://twitter.com/sherlockspok" class="btn btn-default btn-circle">
                  <i class="fa fa-twitter fa"></i>
                </a>
                <a id="github-btn" href="https://github.com/weristspokey" class="btn btn-default btn-circle">
                  <i class="fa fa-github fa"></i>
                </a>
                <a id="mail-btn"href="#" data-toggle="modal" data-target="#contactModal"class="btn btn-default btn-circle">
                  <i class="fa fa-envelope"></i>
                </a>
            </div>
            <!--
            <div class="col-md-4">
                <span title="Add to Kitchen" class="fa fa-arrow-left fa-4x pull-left" aria-hidden="true"></span>
                <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                    <i class="fa fa-github fa-fw"></i>
                    <span class="network-name">Github</span>
                </a>
            </div>-->
        </footer>
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('jquery/jquery.form.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="{{ asset('popper/popper.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('jquery-easing/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('bootstrap-select/js/bootstrap-select.js') }}"></script>
        <script src="{{ asset('js/grayscale.js') }}"></script>
        <script src="{{ asset('fullcalendar/lib/moment.min.js') }}"></script>
        <script src="{{ asset('bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
        <script src="{{ asset('bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js.map') }}"></script>
        <script src="{{ asset('bootstrap-tagsinput/dist/bootstrap-tagsinput-angular.min.js') }}"></script>
        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script src="{{ asset('fullcalendar/fullcalendar.js') }}"></script>
        <script src="{{ asset('jplist/jplist.core.min.js') }}"></script>
        <script src="{{ asset('jplist/jplist.sort-bundle.min.js') }}"></script>
        <script src="{{ asset('jplist/jplist.filter-dropdown-bundle.min.js') }}"></script>
        <script src="{{ asset('jplist/jplist.bootstrap-pagination-bundle.min.js') }}"></script>
        <script src="{{ asset('jplist/jplist.textbox-filter.min.js') }}"></script>
        <script src="{{ asset('js/recipes.js') }}"></script>

        {% endblock %}
    </body>
</html>
