{% extends 'base.html.twig' %}
{% block body %}
    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            {% include ('flash-messages.html.twig') %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="brand-heading">Easy meal organisation</h1>
                        <p class="intro-text">Waste less food, time and effort</p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2>About mealplanner</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="padding: 0 10px">
                    <div class="about-card">
                        <h2><i class="fa fa-calendar"></i></h2>
                        <h5 style="margin-bottom: 10px; color: #9d5281">The Mealplan</h5>
                        <p>Plan your meals for the whole week by adding foods or recipes from the recipebook as breakfast, lunch, dinner or snack</p>
                    </div>
                </div>
                <div class="col-md-3" style="padding: 0 10px">
                    <div class="about-card">
                        <h2><i class="fa fa-book"></i></h2>
                        <h5 style="margin-bottom: 10px; color: #9d5281">The Recipebook</h5>
                        <p>Collect all your favourite Recipes, filter them by tags and add them in the mealplan as your next meal</p>
                    </div>
                </div>
                <div class="col-md-3" style="padding: 0 10px">
                    <div class="about-card">
                        <h2><i class="fa fa-lemon-o"></i></h2>
                        <h5 style="margin-bottom: 10px; color: #9d5281">The Kitchen</h5>
                        <p>Track the food in your kitchen by categories and add it to the grocerys when its empty</p>
                       
                    </div>
                </div>
                <div class="col-md-3" style="padding: 0 10px">
                    <div class="about-card">
                        <h2><i class="fa fa-shopping-cart"></i></h2>
                        <h5 style="margin-bottom: 10px; color: #9d5281">The Grocerys</h5>
                        <p>Create grocerylists even if you're not at home according to the food you have in the kitchen and the food you need for your next meals</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Goals Section -->
    <section id="goals" class="goals-section text-center">
        <div class="container" style="position: relative; top: 0; left: 0;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                <h2>Goals</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="food-image"></div>
                    <h4>Waste less food</h4><p>by tracking what food is left in your kitchen</p>
                </div>
                <div class="col-md-4">
                    <div id="time-image"></div>
                    <h4>Save time</h4><p>by planning your meals for the next days</p>
                </div>
                <div class="col-md-4">
                    <div id="effort-image"></div>
                    <h4>Save effort</h4><p>by adding empty foods to the grocerylists easily</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section class="text-center statistics-section" id="section-statistics">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Statistics</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <h1 class="counter" data-from="0" data-to="{{mealplanItems|length }}" data-speed="5000" data-refresh-interval="50"></h1>
                        <h4>Mealplan Items</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <h1 class="counter" data-from="0" data-to="{{recipes|length }}" data-speed="5000" data-refresh-interval="50"></h1>
                        <h4 class="fh5co-counter-label">Recipes</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <h1 class="counter" data-from="0" data-to="{{kitchenLists|length }}" data-speed="5000" data-refresh-interval="50"></h1>
                        <h4 class="fh5co-counter-label">Kitchenlists</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fh5co-counter to-animate">
                        <h1 class="counter" data-from="0" data-to="{{grocerylists|length }}" data-speed="5000" data-refresh-interval="50"></h1>
                        <h4 class="fh5co-counter-label">Grocerylists</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Download Section -->
    <section id="download" class="download-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Download Mealplanner</h2>
                <p>Coming soon ...</p>
                <a href="" class="btn btn-default btn-lg">
                    <i class="fa fa-apple fa-fw"></i>
                    <span class="network-name">App Store</span>
                </a>
                <a href="" class="btn btn-default btn-lg">
                    <i class="fa fa-google fa-fw"></i>
                    <span class="network-name">Play Store</span>
                </a>
            </div>
        </div>
    </section>

 <!-- Create Account Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">        
                    <h4 class="modal-title" id="registerModalLabel">Create account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                {{form(register_form)}}
                <div id="sicherheitshinweise" class="d-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
           <div class="modal-dialog modal-sm" role="document">
               <div class="modal-content">
                   <div class="modal-header"> 
                       <h4 class="modal-title" id="loginModalLabel">Login</h4>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                       <form class="form-signin" action="{{ path('login') }}" method="POST">
                           <div class="form-group">
                               <input type="text" class="form-control" id="_username" name="_username" placeholder="Username" required>
                           </div>
                           <div class="form-group">
                               <input type="password" class="form-control" id="_password"
                               name="_password" placeholder="Password" required>
                           </div>
                   </div>
                   <div class="modal-footer">
                       <button type="submit" class="btn btn-default m-auto">Login</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
        <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
